In [1]:
import pandas as pd
import numpy as np
import os
import sklearn
import random 
from scipy.stats import mode

In [2]:
import pymysql
import mysql.connector

In [3]:
# Pyspark - SQL
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.functions import mean, col, split, regexp_extract, when, lit

In [4]:
# # Pyspark - ML
# from pyspark.ml import Pipeline
# from pyspark.ml.feature import StringIndexer, VectorAssembler, IndexToString
# from pyspark.ml.feature import QuantileDiscretizer
# from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [22]:
def load_table(url, table_name, user, password):
    (spark.read.format("jdbc").option("url","c")\
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "%s") \
    .option("user", "%s").option("password", "%s"), (url, table_name, user, password))

In [ ]:
buylist = load_

In [5]:
#Make Spark Session
spark = SparkSession.builder.config( "spark.jars","/root/hadoop/share/hadoop/tools/lib/mysql-connector-java-8.0.27.jar") \
    .master("local").appName("b2c").getOrCreate()

In [6]:
#Load tables (buylist, product, category_small, user_recommand)
buylist = spark.read.format("jdbc").option("url","jdbc:mysql://b2cdb.chy6lfqzk3p1.ap-northeast-2.rds.amazonaws.com:3306/b2c")\
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "buylist") \
    .option("user", "admin").option("password", "SMoEcEXZ6PZUUiqDv5w9").load()
product = spark.read.format("jdbc").option("url","jdbc:mysql://b2cdb.chy6lfqzk3p1.ap-northeast-2.rds.amazonaws.com:3306/b2c")\
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "product") \
    .option("user", "admin").option("password", "SMoEcEXZ6PZUUiqDv5w9").load()
category_small = spark.read.format("jdbc").option("url","jdbc:mysql://b2cdb.chy6lfqzk3p1.ap-northeast-2.rds.amazonaws.com:3306/b2c")\
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "category_small") \
    .option("user", "admin").option("password", "SMoEcEXZ6PZUUiqDv5w9").load()
user_recommand = spark.read.format("jdbc").option("url","jdbc:mysql://b2cdb.chy6lfqzk3p1.ap-northeast-2.rds.amazonaws.com:3306/b2c")\
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "user_recommand") \
    .option("user", "admin").option("password", "SMoEcEXZ6PZUUiqDv5w9").load()

Loading class `com.mysql.jdbc.Driver'. This is deprecated. The new driver class is `com.mysql.cj.jdbc.Driver'. The driver is automatically registered via the SPI and manual loading of the driver class is generally unnecessary.

In [7]:
buylist.filter(col('user_id')==1).show()

+---+-------+----------+----------------+-------------------+
| id|user_id|product_id|           count|           buy_date|
+---+-------+----------+----------------+-------------------+
|  1|      1|         1|[31 00 00 00 00]|2022-02-09 00:00:00|
|  2|      1|         2|[32 00 00 00 00]|2022-01-12 00:00:00|
|  3|      1|         3|[33 00 00 00 00]|2022-01-21 00:00:00|
|  4|      1|         4|[31 00 00 00 00]|2021-08-19 00:00:00|
|  5|      1|         5|[31 00 00 00 00]|2021-03-24 00:00:00|
+---+-------+----------+----------------+-------------------+

In [20]:
user_recommand.toPandas()

   user_id  category_mid_id
0        1                1

In [9]:
user_id = 1

In [10]:
count = buylist.filter(col('user_id')==user_id).count()

In [11]:
products_id = buylist.filter(col('user_id')==user_id).toPandas().product_id

In [12]:
cate_s_list = [0 for _ in range(count)]
cate_m_list = [0 for _ in range(count)]

In [13]:
for i in range(count):
    cate_s_list[i] = product.where(col('id') == int(products_id[i])).toPandas().category_small_id
    
for i in range(count):
    cate_m_list[i] = category_small.where(col('id') == int(cate_s_list[i])).toPandas().category_mid_id

In [19]:
#sql에 category_mid 넣기    
conn = pymysql.connect(host='b2cdb.chy6lfqzk3p1.ap-northeast-2.rds.amazonaws.com',
                       user='admin',password='SMoEcEXZ6PZUUiqDv5w9', 
                       db='b2c', charset='utf8')

sql = "INSERT INTO user_recommand VALUES (%s,%s)"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql, (str(user_id), str(int(mode(cate_m_list).mode))))       
        conn.commit()