In [71]:
from pyspark.sql import SparkSession, Row
import pandas as pd

spark = SparkSession.builder\
.appName("sample")\
.config("hive.metastore.uris", "thrift://hive_metastore_ip:hive_metastore_port")\
.enableHiveSupport()\
.getOrCreate()

Person = Row('year','name','height')
row1 = Person('1','park, aa', 190)
row2 = Person('2','park1, ab', 10)
row3 = Person('3','park2, da', 290)
row4 = Person('4','park3, ca',100)

myRow = [row1,row2,row3,row4]

In [73]:
myDF = pd.DataFrame(myRow,columns = Person)
print(myDF)

  year       name  height
0    1   park, aa     190
1    2  park1, ab      10
2    3  park2, da     290
3    4  park3, ca     100

In [79]:
#loc[index] : add row
d = 2
myDF.loc[len(myDF)] = Person('5','new', d)
print(myDF)

  year       name  height
0    1   park, aa     190
1    2  park1, ab      10
2    3  park2, da     290
3    4  park3, ca     100
4    5        new      22
5    5        new       2

In [77]:
myDF.to_json('test.json',orient='table')

In [78]:
new_data = pd.read_json('test.json',orient='table')
print(new_data)

  year       name  height
0    1   park, aa     190
1    2  park1, ab      10
2    3  park2, da     290
3    4  park3, ca     100
4    5        new      22